.button {
  position: relative;
  min-width: 100px;
  padding: 0.4em 1.5em;
  font-size: .8em;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  background-color: #f5a83d;
  color: #f5f4f2;
  border: 1px solid #f5a433;
  box-shadow: 0 0 0 transparent, 0 4px 0 #f3920c;
}
.button.fullscreen {
  width: 100%;
}
.button:hover {
  -webkit-transform: translateY(1px);
  -moz-transform: translateY(1px);
  -ms-transform: translateY(1px);
  -o-transform: translateY(1px);
  transform: translateY(1px);
  box-shadow: 0 0 0 transparent, 0 3px 0 #f3920c;
}
.button.active,
.button:active {
  -webkit-transform: translateY(4px);
  -moz-transform: translateY(4px);
  -ms-transform: translateY(4px);
  -o-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0 0 0 transparent, 0 0 0 #f3920c;
  background-color: #f3920c;
}
