.question .question-index {
  text-align: center;
  font-size: 0.7em;
  margin-bottom: .5em;
}
.question .question-index div {
  display: inline-block;
  line-height: 3em;
  vertical-align: top;
}
.question .question-index .nav {
  margin: 0 .5em;
  font-size: 3em;
  font-style: normal;
  cursor: pointer;
}
