.result .result-container {
  text-align: center;
}
.result .result-container :first-child {
  margin-bottom: .5em;
  font-weight: bold;
}
.result .result-container .result-title {
  font-weight: bold;
  margin-right: .5em;
}
